log:
  debug: false
  log-level: DEBUG
  encoding: console # Log encoding format: "console" (human-readable) or "json" (structured)
  color: true       # Colored log levels (only applies when encoding is "console")

api-server:
  host: 127.0.0.1
  port: 27000
  access-log-path: api-access.log # Optional path to write access logs, e.g., "access.log". If not specified, access logs will be written to the same destination as regular logs.

net-config:
  http:
    - port: 8092
      bind: 1
      interface: en0
      tls:
       use-acme: true
      routes:
        - host: test.noliveira.eu
          target:
            backend: http://localhost:8095
            middlewares:
              - type: "RequestId"
              - type: "RequestLog"
                options:
                  request-log-path: access.log
              - type: "Metrics" # I keep forgetting that metrics have to be explicitly added to each route, I might just change this to always inject it
        - host: test2.noliveira.eu
          target:
            middlewares:
              - type: "RequestId"
              - type: "RequestLog"
                options:
                  request-log-path: access.log
              - type: "Metrics" # I keep forgetting that metrics have to be explicitly added to each route, I might just change this to always inject it
              - type: "Redirect"
                options:
                  status-code: 301
                  target: https://google.com